.copyright {
  padding-top: 25px;
  padding-bottom: 31px;
}

.copyright__link {
  display: flex;
  margin: 0 auto;
  width: 182px;
  text-decoration: none;
}

.copyright__title {
  .blocks-title(19px, 1);
  margin-right: 30px;
}
