.footer {
  background-color: @footer-color;
  padding-top: 15px;
}

.footer__logo {
  display: none;
}

@media(min-width: @tablet-width) {
  .footer__logo {
    display: block;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 143px;
  }
}
