.header {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header__toggle {
  display: block;
  width: 20px;
  height: 14px;
  position: absolute;
  right: 32px;
  top: 32px;
  background-image: url(../img/menu-svg.svg);
  border: none;
  background-repeat: no-repeat;
  background-color: white;
}

.header__list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.header__item {
  padding: 27px 76px;
  padding-right: 20px;
  .for-text(17px, 24px);
  .set-fontbold();
  border-top: 1px solid #ececec;
  position: relative;
  padding-left: calc(50% - 83px);

  a {
    .blocks-title(17px; 1.4);
    text-decoration: none;
  }
}

.header__list--search a {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    opacity: 0.3;
  }
}

.header__item--search a {
  &::before {
    background-image: url('../img/search-svg.svg');
    top: 4px;
    left: -44px;
    ;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
  }
}

.header__item--buy a {
  &::before {
    background-image: url('../img/cart-svg.svg');
    top: 4px;
    left: -46px;
    ;
    width: 21px;
    height: 18px;
    background-repeat: no-repeat;
  }
}

.header__list--sale {
  display: none;
}

.header__logo {
  order: -2;
  padding-top: 24px;
  padding-bottom: 20px;
  margin: 0 auto;
  height: 35px;
}

.header__text {
  display: none;
}

.header__logo--tablet {
  display: none;
}

.header .dropdown-wrapper {
  margin-right: 30px;
}

@media(max-width: @mobile-width-only) {
  .header__no-js {
    .header__list:not(.header__list--sale) {
      display: block;
    }
  }

  .header__closed {
    .header__list {
      display: none;
    }
  }

  .header__open {
    .header__list:not(.header__list--sale) {
      display: block;
    }
  }
}

/* Планшетная версия */
@media (min-width: @tablet-width) {
  .header {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .header__logo {
    padding-left: 50px;
    box-sizing: border-box;
    flex-basis: 48%;
    margin: 0;
    display: block;
  }

  .header__list {
    display: flex;

    li {
      border: none;
    }
  }

  .header__list--sale {
    display: none
  }

  .header__list--catalog {
    margin-top: 24px;
    margin-left: 50px;
    justify-content: flex-start;

    li {
      padding: 0;
      margin-right: 37px;

    }

    a {
      .blocks-title(15px; 1.6);
    }
  }

  .header__list .header__item--search {
    padding-left: 38px;
    padding-right: 38px;
    border-left: 1px solid #ececec;
    border-right: 1px solid #ececec;
  }

  .header__list .header__item--buy {
    padding-right: 50px;
    padding-left: 83px;
  }

  .header__item--search a {
    display: none
  }

  .header__list--search {
    order: -1;
    width: 52%;
    border-bottom: 1px solid #ececec;
  }

  .header__text {
    display: block;
    margin: 0;
    margin-top: 24px;
    margin-right: 50px;
  }

  .header__logo--tablet {
    display: block;
  }
}

@media (min-width: @desktop-width) {
  .header {}

  .header__list--sale {
    display: block;
    order: -1;
    flex-basis: 50%;
    display: flex;

    li {
      padding-left: 50px;
      padding-right: 10px;

      a {
        .blocks-title (15px; 1.6)
      }
    }
  }

  .header__logo {
    flex-basis: 28%;
    padding: 0;
  }

  .header__list--search {
    flex-basis: 36%
  }

  .header__list--catalog {
    order: -3;
    flex-basis: 36%;
    border-bottom: 1px solid #ececec;
    margin: 0;

    li {
      padding-left: 35px;
      margin: 0;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-right: 25px;
      .blocks-title(17px; 1.4);

      &:first-of-type {
        border-right: 1px solid #ececec;
        padding-right: 35px;
        padding-left: 50px;
      }
    }
  }
}
