.header {
  background-color: @header-color;
  display: flex;
  align-items: center;
  padding: 20px 31px;
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.header__logo {
  margin: 0 auto;
}
