.manufactoring {
  border: 1px solid #ececec;
  margin: 0 auto;
  max-width: 520px;
  display: flex;
  flex-direction: column;
}

.manufactoring__title {
  .set-fontbold();
  .for-text(17px, 24px);
  margin: 0;
  padding-left: 61px;
  text-align: left;
  position: relative;

  &::before {
    content: "";
    width: 32px;
    height: 30px;
    position: absolute;
    left: 4px;
    top: 10px;
    background-image: url(../../img/video-svg.svg);
  }
}

.manufactoring__video {
  display: block;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: calc(50% - 35px);
    left: calc(50% - 50px);
    background-image: url(../../img/play-svg.svg);
    background-repeat: no-repeat;
    width: 101px;
    height: 80px;
  }
  img {
    width: 100%
  }
}
.manufactoring__name{
  order: -1;
}
.manufactoring__text {
  .for-text(13px, 24px);
  margin: 0;
  padding-right: 15px;
}

.manufactoring__button {
  margin-top: 25px;
  width: 192px;
  padding-left: 10px;
  padding-right: 10px;
}

.manufactoring__wrapper{
  .wrapper-all-side(30px);
  padding-bottom: 25px;
  padding-top: 25px;
}

@media (min-width: @tablet-width){
  .manufactoring {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    
    .manufactoring__video {
      order: -1;
      img{
        width: 100%;
      }
    }
  }
  .manufactoring__title{
    .for-text(20px, 1.2);
    color: black;
  }
  
  .manufactoring__text {
  .for-text(15px, 2);
  margin: 0;
}
  .manufactoring__wrapper{
  .wrapper-all-side(40px);
    
    &:first-of-type{
      padding-bottom: 0;
    }
}
}

@media (min-width: @desktop-width){
  .manufactoring {
    width: 100%;
    display: block;
    position: relative;
  }
  .manufactoring__video {
    width: 65%;
    float: left;
    img {
      display: block;
    }
  }
  .manufactoring__wrapper{
    .wrapper-all-side(67px);
    width: 35%;
    box-sizing: border-box;
    float: right;
  }
  .manufactoring__description {
    float: right;
    width: 30%;
  }
}