.order-filter__text {
  margin: 0;
  .for-text(13px, 1.8);
}

.order-filter__fieldset {
  border: none;
  border-top: 1px solid @main-color;
  padding: 0;
  padding-top: 25px;
  margin-top: 20px;
  .for-text(17px, 1.05);
  .set-fontbold();

  .order-filter__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  textarea {
    width: 100%;
    min-height: 142px;
    max-height: 400px;
    border: 2px solid #444444;
  }
}

.order-filter__legend {
  padding: 0;
  width: 25%;
  .set-fontbold();
  .for-text(17px, 16px);
  color: @form-fieldset-color;
}

.order-filter__list--type label, .order-filter__list--color label {
  position: relative;
  display: block; 
}

.order-filter__list--type label{
  margin-top: 10px;
  box-sizing: border-box;
}

.order-filter__list--type {
  li {
    padding-left: 62px;
    margin-bottom: 25px
  };

  label::before {
    content: "";
    width: 35px;
    height: 35px;
    border: 2px solid black;
    border-radius: 50%;
    top: -10px;
    left: -62px;
    position: absolute;
  }

  label::after {
    content: "";
    width: 15px;
    height: 15px;
    border-radius: 50%;
    top: 2px;
    left: -50px;
    position: absolute;
    background-color: #62d1ba;
    display: none;
  }
}

.order-filter__list--type input {
  .visually-hidden();
}

.order-filter__list--type input:checked ~ label::after {
  display: block;
}

.order-filter__fieldset--color{
  margin-top: 20px;
}

.order-filter__list--color input {
  .visually-hidden();
}

.order-filter__list--color li {
  min-height: 40px;
  margin-bottom: 20px;
  padding-left: 60px;
  label {
    display: block;
    margin-top: 10px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      border: 2px solid black;
      top: -5px;
      left: -60px;
    }
    &::after{
      content: "";
      position: absolute;
      width: 20px;
      height: 16px;
      background-image: url(../../img/tick-mobile-svg.svg);
      background-repeat: no-repeat;
      top: 2px;
      left: -50px;
      display: none;
    }
  }
}

.order-filter__list--color input:checked ~ label::after {
  display: block;
}

.order-filter__fieldset--name {
  margin: 0;
  margin-top: 5px;
  .order-filter__list--name{
    margin-top: 5px;
  }
}

.order-filter__list--name, .order-filter__fieldset--tel{
  input {
  margin-top: 15px;
  padding-bottom: 14px;
  width: 100%;
}
  li {
    margin-bottom: 20px;
  }
}


.order-filter__fieldset--tel {
  margin-top: 10px;
  padding-top: 17px;
  position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 32px;
      width: 30px;
      height: 30px;
      background-image: url(../../img/icon-phone.svg);
      background-repeat: no-repeat;
      opacity: 0.3;
    }
  input {
    margin: 0;
  }
}

.order-filter__fieldset--email {
  margin: 0;
  margin-top: 35px;
  padding-top: 20px;
  position: relative;
  &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 32px;
      width: 40px;
      height: 30px;
      background-image: url(../../img/icon-mail.svg);
      background-repeat: no-repeat;
      opacity: 0.3;
    }
  input {
    width: 100%;
    padding-bottom: 15px;
  }
}

.order-filter__fieldset--additional {
  margin: 0;
  margin-top: 30px;
  textarea {
    .for-text(17px, 1.05);
    .wrapper-left-right(15px);
    padding-top: 15px;
    box-sizing: border-box;
  }
}

.order-filter__required {
  .for-text(14px, 16px);
  margin: 0;
  margin-top: 15px;
}

.order-filter input {
  .for-text (17px, 1.05);
  color: rgba(68, 68, 68, 0.3);
  display: block;
  border: none;
  border-bottom: 2px solid black
}

.order-filter__button {
  margin-top: 30px;
}


@media (min-width: @tablet-width) {
  .order-filter {
    padding-bottom: 50px;
  }

  .order-filter__text {
    .for-text(17px, 1.8);
  }



  .order-filter input {
    .for-text (19px, 18px);
    color: rgba(68, 68, 68, 0.3);
  }



  .order-filter__fieldset {
    .for-text(19px, 18px);
    color: black;
    border: none;
    padding-top: 50px;
    padding-bottom: 50px;
    margin: 0;

    .order-filter__legend {
      margin: 0;
      float: left;
      width: 70px;
    }

    textarea {
      width: 65%;
      height: 141px;
    }

    .order-filter__list--type,
    .order-filter__list--name {
      flex-direction: column;
    }
  }

  .order-filter__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;

    li {
      width: 50%;
    }
  }

  .order-filter .order-filter__required {
    float: right;
    margin: 0;
  }

  .order-filter .order-filter__button {
    margin: 0;
    float: left;
  }
}

@media (min-width: @desktop-width) {
  .order-filter__list {
    li {
      width: 30%;
    }
  }
}
