.promo-list {
  margin: 0;
  margin-top: -65px;
  padding: 0;
  list-style: none;
}

.promo-list__name {
  width: 106px;
  margin: 0;
  .set-fontbold();
  font-size: 19px;

  a {
    color: white;
    text-decoration: none;
    line-height: 24px;
  }
}

.promo-list__item {
  padding: 26px 32px 26px 28px;
}

.promo-list__item--interior {
  background-color: @main-color;
  position: relative;

  &::after {
    content: "";
    background-image: url(../img/icon-interior.svg);
    width: 40px;
    height: 62px;
    background-color: @main-color;
    opacity: 0.3;
    top: 23px;
    right: 36px;
    position: absolute;
  }
}

.promo-list__item--toys {
  background-color: #56c3b2;
  position: relative;

  &::after {
    content: "";
    background-image: url(../img/icon-toy.svg);
    width: 60px;
    height: 60px;
    background-color: #56c3b2;
    opacity: 0.3;
    top: 21px;
    right: 27px;
    position: absolute;
  }
}

@media (min-width: @tablet-width) {

  .promo-list {
    display: flex;
    .wrapper-left-right(52px);
    justify-content: center;
    margin-top: -280px;
  }


  .promo-list__item {
    min-width: 334px;
    flex-grow: 1;
    box-sizing: border-box;
  }

  .promo-list__item {
    padding: 35px 36px 35px 36px;
  }

  .promo-list__name {
    .for-text(20px, 1.5);
  }
}
