.reviews {
  .wrapper-left-right(30px);
  padding-top: 31px;
  padding-bottom: 45px;
}

.reviews__title {
  .blocks-title(25px, 1.2);
}



@media(min-width: @tablet-width) {
  .reviews {
    padding-top: 80px;
    .wrapper-left-right(52px);
    background-image: url(../../img/review@1x.jpg);
    background-repeat: no-repeat;
  }
  
  .reviews__title {
  .blocks-title(43px, 1.16);
}
}

@media (min-width: @desktop-width){
  .reviews{
  padding-left: 225px;
  }
  .reviews__title {
    font-size: 53px;
    line-height: 1.07;
  }
}
