.reviews-item__blockquote {
  margin: 0;
  margin-top: 20px;
  .for-text(15px; 30px);
  line-height: 30px;
}

.reviews-item__name {
  display: block;
  margin-top: 30px;
  font-style: normal;
  color: black;

  .set-fontbold();
  font-size: 17px;
  line-height: 24px;
  text-align: left;
}

.reviews-item__link {
  .for-text(17px; 24px);
  font-style: normal;
  text-decoration: none;
}


.reviews-item__slider {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}

.reviews-item__arrow {
  width: 130px;
  height: 52px;
  background-color: white;
  border: 1px solid #ececec;
}

.reviews-item__arrow--left {
  background-image: url('../img/huge-arrow-left-svg.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.reviews-item__arrow--right {
  background-image: url('../img/huge-arrow-right-svg.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.reviews-item__button {
  margin-top: 38px;
}

@media (min-width: @tablet-width) {
  .reviews-item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    margin-top: -30px;
  }

  .reviews-item__button {
    order: -1;
    margin-right: 0;
    margin-top: 0;
  }

  .reviews-item__slider {
    margin-top: -62px;
  }

  .reviews-item__name {
    margin-top: 80px;
  }

  .reviews-item__blockquote {
    margin-top: 53px;
  }
}
