body {
  min-width: 320px;
  margin: 0 auto;
  background-color: @background-color;
  font-family: OpenSans, Tahoma, sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}

.dropdown-wrapper {
  width: 20px;
  height: 20px;
  background-image: url(../img/menu-svg.svg);
  background-repeat: no-repeat;
  background-position: center
}

.button {
  margin-left: auto;
  margin-right: auto;
  .button-mobile();
  font-family: OpenSans, Tahoma, sans-serif;
  .set-fontbold();
  text-align: center;
  line-height: 16px;
  font-size: 17px;
  background-color: white;
  text-transform: uppercase;
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.free-delivery {
  display: none;
  margin: 0;
  .for-text(15px, 24px);
  color: #444444;
}

@media (min-width: @tablet-width){
  body {
  min-width: 772px;
  margin: 0 auto;
  background-color: @background-color;
  font-family: OpenSans, Tahoma, sans-serif;
}
   .wrapper {
    .wrapper-left-right(52px);
     display: flex;
     justify-content: space-between;
     margin-top: 25px;
  }


.free-delivery {
  display: block;
  }
}
